/* CSS Document */
*{
	background-color: #999;
}

div{
	border: solid 1px #999;
	background-color: #FFF;
}

p{
	background-color: transparent;
}

img{
	border: solid 1px #999;
	width: 80px;
	height: 80px;
	padding: 20px 20px 20px;
	background-color: transparent;
}

#wrap{
	background-color: #eee;
	height: 500px;
	padding: 20px;
	margin: 20px 20px 20px;
	position: relative;
}

#left{
	width: 200px;
	height: 120px;
	position: absolute;
	left: 20px;
}

#left>img{
	position: absolute;
	border: 0;
}

#left>p{
	position: absolute;
	left:120px;
}

#right{
	height: 500px;
	width: 120px;
	position: absolute;
	right: 20px;
	border: 0px;
}

#middle{
	margin:0px 140px auto 230px;
	padding: 0 20px;
}

#middle>p{
	text-indent: 2em;
}
