/* CSS Document */
*{
	background-color: #999;
}

div{
	border: solid 1px #999;
	background-color: #FFF;
}

img{
	border: solid 1px #999;
	width: 80px;
	height: 80px;
	padding: 20px 20px 20px;
}

#wrap{
	background-color: #eee;
	height: 400px;
	padding: 20px;
	margin: 20px 20px 20px;
	position: relative;
}

#left{
	width: 200px;
	height: 120px;
	position: absolute;
	left: 20px;
}

#left>p{
	float: right;
}

#right{
	height: 360px;
	width: 120px;
	position: absolute;
	right: 20px;
}

#middle{
	margin:20px 160px auto 250px;
}